/* Fonts */

@font-face {
    font-family: "Inter";
    src: url(.fonts/Inter_18pt-Bold.woff2);
    font-weight:700 ;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(.fonts/Inter_18pt-Medium.woff2);
    font-weight:500 ;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(.fonts/Inter_18pt-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ROOT */
:root {
    --text-color: #ECF1F0;
    --main-bg-colot: #11011E;
    --color-btn: #0FAE96;
}


body {
    font-family: "Inter", "Sans-Serif";
    color: var(--text-color);
    background-color: var(--main-bg-colot);
    background: url(/images/BG-Produckt.PNG);
}

header {
    width: 100%;
    max-height: 85px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.head-logo-link {
    display: flex;
    column-gap: 16px;
}

.head-logo-text {
    font-weight: 700;
    font-size: 24px;
}

.header-navigation-list {
    display: flex;
    column-gap:30px ;
    align-items: center;
    padding-left: 670px;
    padding-right: 65px;
}
.header-navigation-item-link {
    font-weight: 500;
    font-size: 18px;
}

.header-media-menu {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero {
    padding-top: 65px;
}
.hero-title {
    max-width: 610px;
    width: 100%;

}
.hero-title-text {
    font-size: 34px;
    font-weight: 700;
}
.hero-title-content {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.hero-categories-btn {
    width: 170px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.03);
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(255, 251, 251, 0.05);
    color: var(--text-color);
    font-size:18px ;
    font-weight: 400;
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
}
.act {
    width: 170px;
    height: 50px;
    background-color: #ECF1F0;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(255, 251, 251, 0.05);
    color: var(--main-bg-colot);
    font-size:18px ;
    font-weight: 400;
}
.hero-categories-btn:hover {
    background-color: #ECF1F0;
    color: var(--main-bg-colot);
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
}
.hero-categories {
    padding-bottom: 32px;
    display: flex;
    column-gap: 25px;
}

.hero-blog {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-blog-item {
    max-width: 410px;
    width: 410px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.03);
    border-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    border-width: 0.1px;
    border-style: solid;
    padding: 20px;
    /* Убираем выравнивание для всего элемента */
}

.blog-item-img {
    display: block; /* Делаем блочным элементом */
    margin: 0 auto 20px auto; /* Центрируем по горизонтали и добавляем отступ снизу */
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.blog-item-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color);
    padding-left: 7px;
}

.blog-item-description {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(236, 241, 240, 0.8);
    padding-left: 7px;
    padding-bottom: 15px;
}
.hero-blog-btn  {
    width: 170px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.03);
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(255, 251, 251, 0.05);
    color: var(--text-color);
    font-size:18px ;
    font-weight: 400;
}

footer {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-text {
    font-size: 12px;
    font-weight: 400;
}